{#
/**
 * Head: Title and Description
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 *
 * Variables:
 * - metadata_asset_url: (string) URL of asset directory (CSS, JavaScript, and template images) (optional, see default).
 * - metadata_base_url: (string) Base URL of the site (optional, see default).
 * - metadata_current_page: (string) URL of current page (see default).
 * - metadata_description: (string) Description of the page (optional, see default).
 * - metadata_image_alt: (string) alt attribute for image to use for social media sharing (optional, but required for metadata_image_src to work).
 * - metadata_image_src: (string) src for image to use for social media sharing (optional).
 * - metadata_is_homepage: (string) Whether or not the page is the homepage (optional, see default).
 * - metadata_name: (string) Name of the site (see default).
 * - metadata_search_enabled: (boolean) Whether or not search is enabled on the website (see default).
 * - metadata_search_field_name: (string) Name of the search field (see default).
 * - metadata_search_path: (string) Path for search form action attribute (optional, see default).
 * - metadata_site_icon_color: (string) Color of icons used for Apple and social media uses (see default).
 * - metadata_text_encoding: (string) Type of text encoding (optional, see default).
 * - metadata_title: (string) Title of the page (optional, see default).
 * - metadata_viewport: (string) Viewport setting (see default).
 */
#}
{# Defaults #}

{% set socialFacebook = socialFacebook|default('') %}
{% set facebookUsername = facebookUsername|default('') %}
{% set socialFlickr = socialFlickr|default('') %}
{% set flickrUsername = flickrUsername|default('') %}
{% set socialTwitter = socialTwitter|default('') %}
{% set twitterUsername = twitter_username|default('') %}

{% if metaData.socialMedia %}
    {% for social in metaData.socialMedia %}
        {% if social.name == 'facebook' %}
            {% set socialFacebook = social.link %}
            {% set facebookUsername = social.link|trim('https://facebook.com/', 'left') %}
        {% elseif social.name == 'flickr' %}
            {% set socialFlickr = social.link %}
            {% set flickrUsername = social.link|trim('https://flickr.com/', 'left') %}
        {% elseif social.name == 'twitter' %}
            {% set socialTwitter = social.link %}
            {% set twitterUsername = social.link|trim('https://twitter.com/', 'left') %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endif %}

<meta charset="{{ metaData.encoding }}" />
<title>{% if (metaData.title) and not metaData.url.homepage %}{{ metaData.title|striptags|raw }} // {% endif %}{{ metaData.name|striptags|raw }} // University of Missouri</title>

{% if ((metaData.url.detected_hostname == metaData.url.hostname) and (metaData.google.tagManager)) and not (user) %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ metaData.google.tagManager }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

{% if (metaData.description) %}
<meta name="description" content="{{ metaData.description|striptags|raw }}" />
{% endif %}

<meta name="viewport" content="{{ metaData.viewport }}" />

{% if (metaData.url.homepage) %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ metaData.name|striptags|raw }}",
    "url": "{{ metaData.url.base }}"{% if (metaData.search.enabled) %},
    "potentialAction": {
         "@type": "SearchAction",
         "target": "{{ metaData.url.base }}{{ metaData.search.path }}?{{ metaData.search.field_name }}={search_term_string}",
         "query-input": "required name=search_term_string"
    }{% endif %}{% if (socialTwitter) or (socialFacebook) or (socialFlickr) %},
    "sameAs" : [
        {% if (socialTwitter) %}"{{ twitterUsername }}"{% if (socialFacebook) or (socialFlickr) %},{% endif %}{% endif %}
        {% if (socialFacebook) %}"{{ socialFacebook }}"{% if (socialFlickr) %},{% endif %}{% endif %}
        {% if (socialFlickr) %}"{{ socialFlickr }}"{% endif %}
    ]{% endif %}
}
</script>
{% endif %}

{# Twitter Cards #}
{% if (socialTwitter) and (metaData.description) %}
{% if (metaData.image.src) %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ metaData.image.src|resize(464, 290) }}" />
<meta name="twitter:image:alt" content="{{ metaData.image.alt|raw }}" />
{% else %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{{ metaData.url.asset }}assets/images/icons/pinned-site/site-icon-{{ metaData.icons.color }}-600x600.png" />
<meta name="twitter:image:alt" content="Mizzou logo" />
{% endif %}
<meta name="twitter:site" content="@{{ twitterUsername }}" />
<meta name="twitter:url" content="{{ metaData.url.current }}" />
<meta name="twitter:title" content="{% if (metaData.title) and not (metaData.url.homepage) %}{{ metaData.title|striptags|raw }} // {% endif %}{{ metaData.name|striptags|raw }} // University of Missouri" />
<meta name="twitter:description" content="{{ metaData.description|striptags|raw }}" />
{% endif %}

{# Open Graph #}
{% if (metaData.description) %}
{% if (metaData.image.src) %}
<meta property="og:image" content="{{ metaData.image.src|resize(464, 290) }}" />
{% else %}
<meta property="og:image" content="{{ metaData.url.asset }}assets/images/icons/pinned-site/site-icon-{{ metaData.icons.color }}-1200x630.png" />
{% endif %}
{% if (metaData.title) and not (metaData.url.homepage) %}
<meta property="og:title" content="{{ metaData.title|striptags|raw }}" />
<meta property="og:site_name" content="{{ metaData.name|striptags|raw }} // University of Missouri" />
{% else %}
<meta property="og:title" content="{{ metaData.name|striptags|raw }}" />
<meta property="og:site_name" content="University of Missouri" />
{% endif %}
<meta property="og:url" content="{{ metaData.url.current }}" />
<meta property="og:description" content="{{ metaData.description|striptags|raw }}" />
{% endif %}

{% if (metaData.google.searchConsole) %}
<meta name="google-site-verification" content="{{ metaData.google.searchConsole }}" />
{% endif %}
