{# Imports #}
{% from "@miz/components/button/button.twig" import AnchorButton as anchorButton %}

{# Set Defaults #}
{% set sectionClasses = ['miz-layer', 'miz-layer--brand', 'miz-main-grid__full'] %}
{% set frameClasses = ['miz-big-message__frame'] %}
{% set headerClasses = ['miz-layer__header', 'miz-layer__header--center'] %}
{% set contentClasses = ['miz-layer__content', 'miz-layer__content--center', 'miz-big-message__content'] %}
{% set hasLayerBackgroundImage = false %}
{% set buttonClass = ['miz-button--brand'] %}

{# Set Variables #}
{% if flexgroup.displayOptions.plus_decoration %}
	{% set sectionClasses = sectionClasses|merge(['miz-decoration', 'miz-decoration__plus']) %}

	{% if flexgroup.displayOptions.decoration_location is iterable %}
		{% for location in flexgroup.displayOptions.decoration_location %}
			{% set sectionClasses = sectionClasses|merge(["miz-decoration__plus--#{ location }"]) %}
		{% endfor %}
	{% endif %}
{% endif %}

{% if flexgroup.displayOptions.layer_background == 'miz-black-100' %}
	{% set sectionClasses = sectionClasses|merge(['miz-fill--black-100']) %}
	{% set frameClasses = frameClasses|merge(['miz-fill--white']) %}
{% elseif flexgroup.displayOptions.layer_background == 'miz-black' %}
	{% set sectionClasses = sectionClasses|merge(['miz-fill--black']) %}
	{% set frameClasses = frameClasses|merge(['miz-fill--white']) %}
{% elseif flexgroup.displayOptions.layer_background == 'miz-white' %}
	{% set sectionClasses = sectionClasses|merge(['miz-fill--white']) %}
{% else %}
{% endif %}

{% if flexgroup.displayOptions.image and flexgroup.displayOptions.layer_background == 'image' %}
	{% set hasLayerBackgroundImage = true %}
	{% set LayerBackgroundImage = Image(flexgroup.displayOptions.image).src %}
{% endif %}

{% if flexgroup.displayOptions.button_style == 'primary' %}
	{% set buttonClass = buttonClass|merge(['miz-button--primary']) %}
{% elseif flexgroup.displayOptions.button_style == 'secondary' %}
	{% set buttonClass = buttonClass|merge(['miz-button--secondary']) %}
{% endif %}

{# Layer Array #}
{% set bigMessageLayer = {
    'title': flexgroup.title,
    'content': flexgroup.message,
    'buttons': flexgroup.buttons,
	'classes': {
		'section': sectionClasses|join(' '),
		'frame': frameClasses|join(' '),
		'header': headerClasses|join(' '),
		'content': contentClasses|join(' '),
		'button': buttonClass|join(' '),
	},
	'style': {
		'section': hasLayerBackgroundImage ? "background: #F1B82D url('" ~ LayerBackgroundImage ~ "') center/cover " : ''
	}
} %}

<section class="{{ bigMessageLayer.classes.section }}"{% if bigMessageLayer.style.section != '' %} style="{{ bigMessageLayer.style.section }}"{% endif %}>
    <div class="miz-container">
        <div{% if flexgroup.displayOptions.include_corner_decoration %} class="miz-decoration miz-decoration__corner--top-left"{% endif %}>
            <div class="{{ bigMessageLayer.classes.frame }}">
                <header class="{{ bigMessageLayer.classes.header }}">
                    <h2 class="miz-layer__title">{{ bigMessageLayer.title }}</h2>
                </header>

                <div class="{{ bigMessageLayer.classes.content }}">
                    {{ bigMessageLayer.content }}

                    {% if bigMessageLayer.buttons is defined and bigMessageLayer.buttons is iterable %}
                        {% for Button in bigMessageLayer.buttons %}
                            {% set ButtonOptions = { "class": bigMessageLayer.classes.button, "text": Button.button.title, 'href': Button.button.url} %}
                            {{ anchorButton( ButtonOptions ) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
