{# Imports #}
{% from "@miz/components/button/button.twig" import AnchorButton as anchorButton %}

{# Set Defaults #}
{% set sectionClasses = ['miz-layer', 'miz-layer--brand', 'miz-main-grid__full'] %}

{# Set Variables #}

{# Layer Array #}
{% set byTheNumbersLayer = {
    'title': flexgroup.title,
    'kicker': flexgroup.kicker,
    'content': flexgroup.numbers,
    'button': flexgroup.button,
	'classes': {
		'section': sectionClasses|join(' ')
	}
} %}

<section class="{{ byTheNumbersLayer.classes.section }}">
    <div class="miz-container">
        {% if byTheNumbersLayer.kicker or byTheNumbersLayer.title %}
        <header class="miz-layer__header miz-layer__header--center">
            {% if byTheNumbersLayer.kicker %}<p class="miz-layer__kicker">{{ byTheNumbersLayer.kicker }}</p>{% endif %}
            {% if byTheNumbersLayer.title %}<h2 class="miz-layer__title">{{ byTheNumbersLayer.title }}</h2>{% endif %}
        </header>
        {% endif %}

        {% if byTheNumbersLayer.content is defined and byTheNumbersLayer.content is iterable  %}
        <div class="miz-layer__content miz-layer__content--center">
            <div class="miz-by-the-numbers__row">
                {% for NumberData in byTheNumbersLayer.content %}
                    <div class="miz-by-the-numbers__column">
                        <p class="miz-by-the-numbers__number miz-text--black">{{ NumberData.number }}</p>
                        <p>{{ NumberData.message }}</p>
                    </div>
                {% endfor %}
            </div>

            {% if byTheNumbersLayer.button is defined and byTheNumbersLayer.button is iterable %}
                <div class="miz-button-group">
                    {% set buttonOptions = { "class": "miz-button--primary miz-button--brand", "text": byTheNumbersLayer.button.title, 'href': byTheNumbersLayer.button.url } %}
                    {{ anchorButton( buttonOptions ) }}
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</section>
