{# Imports #}
{% from "@miz/components/button/button.twig" import AnchorButton as anchorButton %}

{# Set Defaults #}
{% set sectionClasses = ['miz-layer', 'miz-layer--brand', 'miz-cta-layer', 'miz-main-grid__full'] %}
{% set frameClasses = ['miz-cta-frame'] %}
{% set headerClasses = ['miz-layer__header'] %}
{% set contentClasses = ['miz-layer__content', 'miz-cta-content'] %}
{% set hasLayerBackgroundImage = false %}

{# Set Variables #}
{% if flexgroup.displayOptions.plus_decoration %}
	{% set sectionClasses = sectionClasses|merge(['miz-decoration', 'miz-decoration__plus']) %}

	{% if flexgroup.displayOptions.decoration_location %}
			{% set sectionClasses = sectionClasses|merge(["miz-decoration__plus--#{ flexgroup.displayOptions.decoration_location }"]) %}
	{% endif %}
{% endif %}

{% if flexgroup.displayOptions.layer_background == 'miz-black-100' %}
	{% set sectionClasses = sectionClasses|merge(['miz-fill--black-100']) %}
{% elseif flexgroup.displayOptions.layer_background == 'miz-black' %}
	{% set sectionClasses = sectionClasses|merge(['miz-fill--black']) %}
{% elseif flexgroup.displayOptions.layer_background == 'miz-gold' %}
	{% set sectionClasses = sectionClasses|merge(['miz-fill--gold']) %}
{% elseif flexgroup.displayOptions.layer_background == 'miz-white' %}
	{% set sectionClasses = sectionClasses|merge(['miz-fill--white']) %}
{% else %}
{% endif %}

{% if flexgroup.displayOptions.image and flexgroup.displayOptions.layer_background == 'image' %}
	{% set hasLayerBackgroundImage = true %}
	{% set LayerBackgroundImage = Image(flexgroup.displayOptions.image).src %}

	{% if flexgroup.displayOptions.background_overlay_three == 'black' %}
		{% set sectionClasses = sectionClasses|merge(['miz-background-gel--dark']) %}
	{% elseif flexgroup.displayOptions.background_overlay_three == 'gold' %}
		{% set sectionClasses = sectionClasses|merge(['miz-background-gel--gold']) %}
	{% endif %}
{% endif %}

{% if flexgroup.displayOptions.content_background == 'miz-black-100' %}
	{% set frameClasses = frameClasses|merge(['miz-fill--black-100', 'miz-text--black']) %}
{% elseif flexgroup.displayOptions.content_background == 'miz-black' %}
	{% set frameClasses = frameClasses|merge(['miz-fill--black']) %}
{% else %}
	{% set frameClasses = frameClasses|merge(['miz-fill--white']) %}
{% endif %}

{% if flexgroup.displayOptions.button_style == 'brand-primary' %}
	{% set buttonClass = 'miz-button--primary' %}
{% elseif flexgroup.displayOptions.button_style == 'gold-ghost' %}
	{% set buttonClass = 'miz-button--ghost-gold' %}
{% else %}
	{% set buttonClass = 'miz-outline' %}
{% endif %}

{# Layer Array #}
{% set ctaLayer = {
    'title': flexgroup.title,
    'content': flexgroup.content,
    'buttons': flexgroup.buttons,
    'variant': flexgroup.displayOptions.variant,
    'image': flexgroup.displayOptions.image,
	'classes': {
		'section': sectionClasses|join(' '),
		'frame': frameClasses|join(' '),
		'header': headerClasses|join(' '),
		'content': contentClasses|join(' '),
		'button': buttonClass
	},
	'styles': {
		'section': hasLayerBackgroundImage ? "background: #F1B82D url('" ~ LayerBackgroundImage ~ "') center/cover " : ''
	}
} %}

<section class="{{ ctaLayer.classes.section }}"{% if ctaLayer.styles.section != '' %} style="{{ ctaLayer.styles.section }}"{% endif %}>
    <div class="miz-container">
        <div class="{{ ctaLayer.classes.frame }}">
            <header class="{{ ctaLayer.classes.header }}">
                <h2 class="miz-cta-title">{{ ctaLayer.title }}</h2>
            </header>

            <div class="{{ ctaLayer.classes.content }}">
                <div class="miz-cta-content__body">
                    {{ ctaLayer.content }}
                </div>

                {% if ctaLayer.buttons is defined and ctaLayer.buttons is iterable %}
                    <div class="miz-cta-content__action">
                        <div class="miz-cta-button-group">
                            {% for Button in ctaLayer.buttons %}
                                {% set buttonOptions = { "class": "miz-button--brand " ~ ctaLayer.classes.button, "text": Button.button.title, 'href': Button.button.url } %}
                                {{ anchorButton( buttonOptions ) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
