{# Imports #}
{% from "@miz/components/button/button.twig" import AnchorButton as anchorButton %}

{# Set Variables #}
{% set ctaLayer = {
    'title': flexgroup.title,
    'content': flexgroup.content,
    'buttons': flexgroup.buttons,
    'variant': flexgroup.displayOptions.variant,
    'image': flexgroup.displayOptions.image
} %}

{% set VariantOptions = {
    "section" : "miz-fill--black miz-decoration miz-decoration__plus miz-decoration__plus--top-right",
    "frame" : "miz-fill--white miz-text--black",
    "buttonclass" : "miz-button--outline"
} %}
{% if ctaLayer.variant == "image" and ctaLayer.image  %}
    {% set VariantOptions = VariantOptions|merge({
        "section" : "\" style=\"background: #F1B82D url('" ~ Image(ctaLayer.image).src('full') ~"') center/cover ",
        "frame" : "miz-fill--white",
    }) %}
{% endif %}
{% if ctaLayer.variant == "gold" %}
    {% set VariantOptions = VariantOptions|merge({
        "section" : "miz-background-gel--gold",
        "frame"   : "miz-fill--black",
        "buttonclass" : "miz-button--ghost-gold"
    }) %}
{% endif %}

<section class="miz-layer miz-layer--brand miz-cta-layer miz-main-grid__full {{ VariantOptions.section }}">
    <div class="miz-container">
        <div class="miz-cta-frame {{ VariantOptions.frame }}">
            <header class="miz-layer__header">
                <h2 class="miz-cta-title">{{ ctaLayer.title }}</h2>
            </header>

            <div class="miz-layer__content miz-cta-content">
                <div class="miz-cta-content__body">
                    {{ ctaLayer.content }}
                </div>

                {% if ctaLayer.buttons is defined and ctaLayer.buttons is iterable %}
                    <div class="miz-cta-content__action">
                        <div class="miz-cta-button-group">
                            {% for Button in ctaLayer.buttons %}
                                {% set buttonOptions = { "class": "miz-button--brand " ~ VariantOptions.buttonclass, "text": Button.button.title, 'href': Button.button.url } %}
                                {{ anchorButton( buttonOptions ) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
