{# Import #}
{% from "@miz/components/link-list/link-list.twig" import LinkList as linkList %}
{% from "@miz/components/icon/icon.twig" import Icon as icon %}

{# Set Defaults #}
{% set sectionClasses = ['miz-layer', 'miz-layer--brand', 'miz-main-grid__full'] %}
{% set headerClasses = ['miz-layer__header', 'miz-layer__header--center'] %}
{% set contentClasses = ['miz-layer__content', 'miz-layer__content--center'] %}

{# Set Variables #}
{% if flexgroup.displayOptions.plus_decoration %}
	{% set sectionClasses = sectionClasses|merge(['miz-decoration', 'miz-decoration__plus']) %}

	{% if flexgroup.displayOptions.decoration_location %}
			{% set sectionClasses = sectionClasses|merge(["miz-decoration__plus--#{ flexgroup.displayOptions.decoration_location }"]) %}
	{% endif %}
{% endif %}

{# Layer Array #}
{% set linkListLayer = {
	'title': flexgroup.title,
	'list': flexgroup.links,
	'classes': {
		'section': sectionClasses|join(' '),
		'header': headerClasses|join(' '),
		'content': contentClasses|join(' ')
	}
} %}

{% set linkListInlineOptions = {"class": "miz-link-list--brand miz-link-list--layer", "list" : []} %}

{% if linkListLayer.list is defined and linkListLayer.list is iterable %}
	{% set Links = [] %}
	{% for Link in linkListLayer.list  %}
		{% set Links = Links|merge([{
			"link": {
				"href": Link.link.url,
				"text": Link.link.title ~ icon( {
					"class": "miz-text--gold miz-flex-item--push",
					"name": "chevron_right",
					"attributes": {
						"aria-hidden": "true"
					}
				} )
			}
		}]) %}
	{% endfor %}
	{% set linkListInlineOptions = linkListInlineOptions|merge({"list":Links}) %}
{% endif %}

<section class="{{ linkListLayer.classes.section }}">
	<div class="miz-container">
		{% if linkListLayer.title %}
			<header class="{{ linkListLayer.classes.header }}">
					<h2 class="miz-layer__title">{{ linkListLayer.title }}</h2>
			</header>
		{% endif %}

		<div class="{{ linkListLayer.classes.content }}">
			{{ linkList( linkListInlineOptions ) }}
		</div>
	</div>
</section>
