{#
/**
 * HTML Boilerplate
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 *
 * Variables:
 * - page: (object) Page content.
 *       - body_class: (string) Class to include on the <body> tag (optional).
 *       - body_id: (string) Id to include on the <body> tag (optional).
 *       - html_class: (string) Class to include on the <html> tag (optional).
 *       - html_id: (string) Id to include on the <html> tag (optional).
 * - site: (object) Site-wide variables, mostly set in functions.php.
 *       - language: (string) Language code of the site (optional - see default).
 * - wp_head: (string) <head> tag content for WordPress sites (optional).
 * - wp_footer: (string) end of <body> tag content for WordPress sites (optional).
 */
#}

{% set content_include_navigation = content_include_navigation|default(true) %}
{% if option.primary_nav_color %}
    {% set navigation_modifier_class = ('nav--primary-navigation nav--primary-navigation--' ~ option.primary_nav_color) %}
{% else %}
    {% set navigation_modifier_class = navigation_modifier_class|default('nav--primary-navigation') %}
{% endif %}

{% set bodyOptions = { 'html_id': page.body_id, 'html_class': page.body_class } %}

{% set metaData = {
    'title': page.title,
    'name': site.name,
    'short_name': option.short_name,
    'description': page.preview ?? site.description,
    'encoding': 'utf-8',
    'google': {
        'analytics': option.google_analytics,
        'cse': option.google_cse_id,
        'tagManager': option.google_tag_manager,
        'searchConsole': option.google_search_console
    },
    'icons': {
        'color': option.site_icon_color,
        'apple': option.apple_mask_icon_color,
        'ms': option.ms_tile_color,
        'sprite': metaData.url.asset ~ '/images/miz-sprite.svg'
    },
    'image': page.thumbnail,
    'language': site.language|default('en'),
    'search': {
        'enabled': site.search_enabled,
        'field_name': site.search_field_name,
        'path': site.search_path
    },
    'socialMedia': option.social_media,
    'url': {
        'asset': theme.parent.link ?? theme.link ~ '/',
        'base': site.link,
        'current': page.current_page,
        'detected_hostname': site.detected_hostname,
        'hostname': option.hostname,
        'homepage': page.is_homepage
    },
    'version': theme.parent.version,
    'viewport': site.viewport
} %}

{% set navigationOptions = {
  'enable': content_include_navigation|default(true),
  'class': navigation_modifier_class,
  'id': 'navigation',
  'items': site.navigation.items
} %}

<!DOCTYPE html>
<html lang="{{ site.language|default('en') }}"{% if (page.html_id) %} class="{{ page.html_id }}"{% endif %}{% if (page.html_class) %} class="{{ page.html_class }}"{% endif %}>
<head>
{% block head %}
  {% include ['meta/head/site-head-metadata.twig', 'meta/head/head-metadata.twig'] ignore missing with metaData %}
  {% include ['meta/head/site-head-icons.twig', 'meta/head/head-icons.twig'] ignore missing with metaData %}

  {% block head_css %}
    {% include ['meta/head/site-head-css.twig', 'meta/head/head-css.twig'] ignore missing with metaData %}
  {% endblock %}

  {% block head_js %}
    {% include ['meta/head/site-head-js.twig', 'meta/head/head-js.twig'] ignore missing with metaData %}
  {% endblock %}

  {{ wp_head }}
{% endblock %}
</head>
<body{% if (page.body_id) %} class="{{ page.body_id }}"{% endif %} class="miz-body{% if (page.body_class) %} {{ page.body_class }}{% endif %}">
{% block google_tagmanager %}
  {% include ['components/site-google-tag-manager.twig', 'components/google-tag-manager.twig'] ignore missing with metaData %}
{% endblock %}

{% block google_cse %}
  {% include ['components/site-google-cse.twig', 'components/google-cse.twig'] ignore missing with metaData %}
{% endblock %}

{% block outdated_browser %}
{% include ['components/header/site-outdated-browser.twig', 'components/header/outdated-browser.twig'] ignore missing %}
{% endblock %}

{% block skip_to_content %}
{% from "@miz/components/navigation/skip-to/skip-to.twig" import SkipTo as skipTo %}

  {% set skipToOptions = {
    links: [
      { text: "Skip to navigation", href: "#navigation" },
      { text: "Skip to content", href: "#content" }
    ]
  } %}

  {{ skipTo( skipToOptions ) }}
{% endblock %}

    <div class="miz-wrapper miz-section--wrapper">
        {% block header %}
          {% set nav_items = site.navigation.items %}
          {% set ribbon_items = site.tactical_navigation.items %}

          {% set header_options = {
            ribbon: {
              "link-list": {
                list: ribbon_items
                }
              },
            masthead: {
              title: site.name,
              subtitle: site.subhead_name
            },
          } %}

          {% include ['components/site-header.twig', 'components/header/header.twig'] ignore missing with header_options %}
        {% endblock %}

        {% if (navigationOptions.enable) %}
        {% block navigation %}
          {% include ['components/navs/site-navigation.twig', 'components/navs/navigation.twig'] ignore missing with {
            'navigation_id': navigationOptions.id,
            'navigation_items': navigationOptions.items
          } %}
        {% endblock %}
        {% endif %}

        {% block main %}
          {% set content = content|default(page.content) %}
          {% set page_article_modifier_class = page_article_modifier_class|default('miz-main-grid__article') %}
          <main class="miz-main-grid{% if (page_main_modifier_class) %} {{ page_main_modifier_class }}{% endif %}{% if (page_aside_modifier_class) %} {{ page_aside_modifier_class }}{% endif %}" id="content" role="main" tabindex="-1">
            {% if (pre_content) %}
              {{ include(template_from_string(pre_content)) }}
            {% endif %}

            {% block content %}
              {% if (content) %}
              <article class="{% if (page_article_modifier_class) %}{{ page_article_modifier_class }}{% endif %}">
                {{ include(template_from_string(content)) }}
              </article>
              {% endif %}
            {% endblock content %}

            {% if (content_aside) %}
            <aside role="complementary" class="miz-main-grid__sidebar">
              {{ include(template_from_string(content_aside)) }}
            </aside>
            {% endif %}

            {% if (post_content) %}
              {{ include(template_from_string(post_content)) }}
            {% endif %}
          </main>
        {% endblock main %}

        {% block footer %}
          {% set footer_theme = option.footer_theme %}
          {% set footer_class = footer_theme == 'dark' ? 'miz-footer--dark' : '' %}

          {% set footer_options = {
            "class": footer_class,
            "theme": footer_theme
          } %}

          {% include 'components/footer/footer.twig' with footer_options %}
        {% endblock %}

        {% block foot %}
          {% block foot_js %}
          {% include ['meta/foot/site-footer-js.twig', 'meta/foot/footer-js.twig'] ignore missing %}
          {% endblock %}

          {% include ['components/site-google-analytics.twig', 'components/google-analytics.twig'] ignore missing with metaData %}
          {{ wp_footer }}
        {% endblock %}
    </div>
</body>
</html>
