{#
/**
 * Single Template: Post
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 *
 * Variables:
 * - content: (string) Main content.
 * - page: (object) Post content (see https://github.com/jarednova/timber/wiki/TimberPost for properties).
 */
#}

{% extends ['single-page.twig'] %}

{% block breadcrumbs %}{% endblock %}

{% block pre_content__page_headers %}
{% embed '@miz/components/page-header/page-header.twig' with {
    'title': page.title|striptags('<em>')|raw,
    'class': 'miz-page-header--article'
} %}
    {% block page_header %}
    <div class="miz-container">
        {% if page.terms('category') %}
					<p class="miz-article__category">{% for category in page.terms('category') %}<a href="{{ category.link|raw }}">{{ category.name}}</a>{% if not loop.last %} | {% endif %}{% endfor %}</p>
        {% endif %}

        <h2 class="miz-page-header__title">{{ pageHeaderTitle }}</h2>
    </div>
    {% endblock %}
{% endembed %}
{% endblock %}

{% block content %}
<article class="miz-main-grid__article">
	{% if (page.date) %}
		<p class="miz-article__date">Published on {{ page.date|date_ap_style }}</p>
		{% if page.modified_date and (page.modified_date != page.date) %}
		<p class="miz-article__date">Updated on {{ page.modified_date|date_ap_style }}</p>
		{% endif %}
	{% endif %}

	{{ page.content|raw }}
</article>
{% endblock content %}
