{#
/**
 * Staff Template
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2019 Curators of the University of Missouri
 *
 * Variables:
 * - content: (string) Main content.
 * - page: (object) Page content (see https://github.com/jarednova/timber/wiki/TimberPost for properties).
 */
#}

{% extends ['site-page.twig', 'page.twig'] %}

{% block content %}

{% if page.thumbnail.src and page.thumbnail.alt %}
<img src="{{ page.thumbnail.src|resize(300) }}" alt="{{ page.thumbnail.alt }}" class="alignright" />
{% endif %}

<div class="person__metadata">
{% if page.get_field('position') %}
    <h3 class="person__position">{{ page.get_field('position') }}</h3>
{% endif %}
{% if (page.get_field('office_location')) %}
    <p class="person__office"><i class="miz-icon material-icons">place</i> {{ page.get_field('office_location') }}</p>
{% endif %}
{% if (page.get_field('phone_number')) %}
    <p class="person__phone-number"><i class="miz-icon material-icons">phone</i> {{ page.get_field('phone_number') }}</p>
{% endif %}
{% if (page.get_field('email')) %}
    <p class="person__email"><i class="miz-icon material-icons">email</i> <a href="mailto:{{ page.get_field('email') }}">{{ page.get_field('email') }}</a></p>
{% endif %}

{% if (page.get_field('cv_link')) %}
    <p class="person__cv"><i class="miz-icon material-icons">attachment</i> <a href="{{ page.get_field('cv_link') }}" target="_blank">Curriculum Vitae</a></p>
{% endif %}

{{ page.content|raw }}

{% endblock %}
