{% set breadcrumbs = {
	'classes': 'miz-breadcrumbs miz-breadcrumbs--brand',
	'label': 'breadcrumbs',
	'list': {
		'classes': 'miz-breadcrumbs__list',
		'items': breadcrumb_items|default([])
	}
} %}

{% if not page.is_homepage %}
<div class="miz-breadcrumbs__container">
	<nav class="{{ breadcrumbs.classes }}" aria-label="{{ breadcrumbs.label }}">
		<ol class="{{ breadcrumbs.list.classes }}">
			<li class="miz-breadcrumbs__list-item">
				<a href="{{ site.baseURL }}" class="miz-breadcrumbs__link">Home</a>
			</li>
			{% if page.parent.parent.parent %}
			<li class="miz-breadcrumbs__list-item">
				<a href="{{ page.parent.parent.parent.link }}" class="miz-breadcrumbs__link">{{ page.parent.parent.parent.title }}</a>
			</li>
			{% endif %}
			{% if page.parent.parent %}
			<li class="miz-breadcrumbs__list-item">
				<a href="{{ page.parent.parent.link }}" class="miz-breadcrumbs__link">{{ page.parent.parent.title }}</a>
			</li>
			{% endif %}
			{% if page.parent %}
			<li class="miz-breadcrumbs__list-item">
				<a href="{{ page.parent.link }}" class="miz-breadcrumbs__link">{{ page.parent.title }}</a>
			</li>
			{% endif %}
			<li class="miz-breadcrumbs__list-item miz-breadcrumbs__list-item--current">
				{{ page.title }}
			</li>
		</ol>
	</nav>
</div>
{% endif %}
